fastapi
uvicorn
python-multipart

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers

huggingface_hub

pypdf

python-dotenv

pydantic

requests